<div class="container-fluid">
  	<div class="row">
	  	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		  	<p class="text-center Room-Header">建立一個房間</p>
	  	</div>
  	</div>

  	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 col-lg-offset-5 col-md-offset-5">
 			 <a href="/room/<%= roomID %>/" class="btn btn-default">建立房間</a>
		</div>
  </div>
</div>
