<div class="container-fluid Room-Content">
  <div class="row">
	  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		  <p class="text-center Room-Header">跑馬大賽準備開始</p>
	  </div>
  </div>
  <div class="row">
	  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		  <p class="text-center Room-Header">剩餘時間: <span id="countdown"> <%- countDown.minutes() + ' : ' + countDown.seconds() %><span></p>
	  </div>
  </div>
  <div class="row">
	  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		  <p class="text-center Room-Header">可報名人數: <span id="canInvite"><%= roomSetting.max- invited %><span></p>
	  </div>
  </div>
  <div class="row">
	  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		  <p class="text-center Room-Header">已報名人數: <span id="invited"><%= invited %></span></p>
	  </div>
  </div>
  <div class="row">
	  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		  <img src="<%= clientURL %>" class="img-responsive Center" alt="QRCode">
	  </div>
	  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		  <img src="/images/roomLogo.png" class="img-responsive Center" alt="Logo">
	  </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();

	socket.on('/<%= roomID %>/addsuccess', function(data){
		$("#invited").html(data.invited);
		$("#canInvite").html(data.caninvited);
	});

  socket.on('/<%= roomID %>/countdown', function(data){
	  $("#countdown").html(data.text);
  });
</script>
