<div class="container-fluid">
  <div class="row">
	  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		  <p class="text-center Room-Header">請選擇您的馬匹</p>
	  </div>
  </div>

  <div class="row">
	  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		  <p class="Race-User">您報名的馬匹是 XX 號，請設定馬匹顏色與暱稱</p>
	  </div>
  </div>

  <div class="row">
	  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		  <form role="form" id="form" class="form-Content">
			  <div class="form-group">
				<label for="nickname">暱稱</label>
				<input type="text" class="form-control" id="nickname" placeholder="請輸入暱稱">
			  </div>
			  <div class="form-group">
				<label for="exampleInputPassword1">選擇顏色</label>
				<Select class="form-control" id="color">
					<option value="balck">黑色</options>
				</Select>
			  </div>
			  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					  <button type="submit" class="btn btn-default">確認</button>
				  </div>
			</form>
	  </div>
  </div>
</div>

<!--Socket Client-->
<% contentFor("script") %>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  //invited result
  $("#form").submit(function(e){
	  e.preventDefault();
	  socket.emit('/invited', {
		  roomID: "<%= roomID %>",
		  color: $("#color").val(),
		  nickname: $("#nickname").val()
	  });
  });
</script>
