<!DOCTYPE html>
<html>
  <head>
	<title><%= title %></title>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<%-style%>
	<script language='javascript' src='https://code.jquery.com/jquery-2.2.3.min.js'></script>
	<script language='javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
  </head>
  <body>
	  <%-body%>
  </body>

  <% -script%>
</html>
