<div class="container-fluid">
  <div class="row">
	  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		  <p class="text-center Room-Header">比賽</p>
	  </div>
  </div>

  <div class="row">
  	<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
  		<p class="Race-User">1. Arzbar</p>
  	</div>
	<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
		<div class="Road_left" style="width:20%;float:left;"></div>
		<image src="/images/horse.png">
  	</div>
  </div>

  <div class="row">
  	<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
  		<p class="Race-User">1. Tomas</p>
  	</div>
	<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
		<div class="Road_left" style="width:30%;float:left;"></div>
		<image src="/images/horse.png">
  	</div>
  </div>
</div>
