<div class="container-fluid">
  	<div class="row">
	  	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		  	<p class="text-center Room-Header">賽馬英雄榜</p>
	  	</div>
  	</div>

  	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 col-lg-offset-2 col-md-offset-2">
 			<image src="/images/horse.png">
		</div>
  	<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
  		<p class="Result-User">1. Arzbar(1) : 01:45</p>
  	</div>
  </div>

  <div class="row">
	  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 col-lg-offset-2 col-md-offset-2">
  		<image src="/images/horse.png">
    	</div>
  	<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
  		<p class="Result-User">2. Tomas(2) : 02:40</p>
  	</div>
  </div>
</div>
