<div class="container-fluid">
  <div class="row">
	  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		  <p class="Race-User text-center">
			  恭喜您，
			  這次恭喜您這次跑馬您第三名</p>
	  </div>
  </div>
  <div class="row">
	  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		 <button class="btn btn-default">離開</button>
	  </div>
  </div>
</div>
