.Room-Content{
	border: 1px solid #000000;
	margin: 10px auto;
}
.Center {
	margin: 0px auto;
}
.center-Button {
position:relative;
right:50%;
float: right;
}
.full-Screen{
	width : 100vw;
	height: 100vh;
}
.full-Screen > p{
	position: relative;
	left: 10%;
	top: 50%;
	font-size: 3em;
};
.Room-Header{
	font-size : 4em;
}
.Room-Text{
	font-size : 12em;

}
.Road_left{
	position: static;
	height: 20px;
	background-color: #00ff00;
}
.Road_right{
	position: static;
	height: 20px;
}
.Race-User{
	font-size : 2em;
}
.Result-User{
	font-size: 4em;
}

.form-Content{
	margin: 10 10;
}
